        <footer class="footer">
            <p>&copy; 2024 PERSÉ ERP</p>
            <p>Soporte: 3153054817 - 3154562620</p>
            <p>Ventas: 3154205990 - 3158558575</p>
            <p>Bogotá D.C. - Colombia</p>
        </footer>
    </body>
</html>